{% extends 'layout.html.twig' %}

{% block content %}
	<div class="page-statique">
        <h2>Nos conditions Generales</h2>
        <br>
        <h3 class="important">
            le site mon blog aura toujours raison en cas de litige
        </h3>
    </div>
{% endblock %}
