{% extends 'layout.html.twig' %}


{% block content %}
<h2>Détails de l'auteur</h2>

<table class="table table-dark table-striped">
<tr>
    <th>Nom</th> 
    <th>Prenom</th>
    <th>Date de naissance</th>
    <th>Email</th>  
</tr>


<tr>
    <th>{{auteurDetail.nom}}</th> 
    <th>{{auteurDetail.prenom}}</th>
    <th>{{auteurDetail.dateDeNaissance | date('d-m-Y')}}</th>
    <th>{{auteurDetail.email}}</th>
    
</tr>



{% endblock %}